# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Maven files and directories
pom.xml
.mvn/
target/
**/target/

# Ignore Kotlin compiler session folder
**/.kotlin

